-var pageTitle = 'Online TV'

doctype html
html(lang="en")
    head
        title= pageTitle
        style
            include style/normolize.css
            include style/style.css
    body
        include modules/header

        section.section-banner
            img(src="/src/images/banner.png", alt="banner").section-banner__image
            .container
                .banner
                    h2.banner__title Zack Snyder's Justice League
                    .banner__info 
                        span.banner_info__year 2021
                        span.banner_info__age 18+
                        span.banner_info__time 4h 2min
                        span.banner_info__raiting 8.8
                    p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
                    .banner-control 
                        button.banner-control__btn.banner-control__btn-main Watch
                        button.banner-control__btn.banner-control__btn-more More information
        section.section
            .container 
                h2.section__h2
                    a(href="#").section__h2-link Trending TV Shows  
                .movies 
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_01.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_02.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_03.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_04.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_05.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_06.png", alt="poster").movies__img
                h2.section__h2
                    a(href="#").section__h2-link Trending Movies  
                .movies 
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_01.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_02.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_03.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_04.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_05.png", alt="poster").movies__img
                    .movies-item 
                        a(href="#").movies__link 
                            img(src="../src/images/posterts/poster_06.png", alt="poster").movies__img
                button.section__btn  See more  
        section.section
            .container 
                h2.section__h2
                    a(href="#").section__h2-link Popular Genres  
                .genres
                    .genres-item.genres-item__romance
                        .genres-icon
                            img(src="../src/images/genders/romance.svg", alt="logo").genres-image
                        h3.genres__title Romance
                    .genres-item.genres-item__drama
                        .genres-icon
                            img(src="../src/images/genders/drama.svg", alt="logo").genres-image
                        h3.genres__title Drama
                    .genres-item.genres-item__historical
                        .genres-icon
                            img(src="../src/images/genders/historical.svg", alt="logo").genres-image
                        h3.genres__title Historical
                    .genres-item.genres-item__action
                        .genres-icon
                            img(src="../src/images/genders/action.svg", alt="logo").genres-image
                        h3.genres__title Action
                    .genres-item.genres-item__sci-fi
                        .genres-icon
                            img(src="../src/images/genders/sci-fi.svg", alt="logo").genres-image
                        h3.genres__title Sci-fi
                    .genres-item.genres-item__horror
                        .genres-icon
                            img(src="../src/images/genders/horror.svg", alt="logo").genres-image
                        h3.genres__title Horror
                    .genres-item.genres-item__comedy
                        .genres-icon
                            img(src="../src/images/genders/comedy.svg", alt="logo").genres-image
                        h3.genres__title Comedy
                    .genres-item.genres-item__documentary
                        .genres-icon
                            img(src="../src/images/genders/documentary.svg", alt="logo").genres-image
                        h3.genres__title Documentary
        section.section
            .container 
                h2.section__h2
                    a(href="#").section__h2-link Popular Actors & Directors 
                .actors
                    .actors-item
                        a(href="#").actors__link
                            img(src="../src/images/actors/actor_01.png", alt="actor").actors__img
                        h3.actors__title Samantha Bowen
                    .actors-item
                        a(href="#").actors__link
                            img(src="../src/images/actors/actor_02.png", alt="actor").actors__img        
                        h3.actors__title Rhys Birch
                    .actors-item
                        a(href="#").actors__link
                            img(src="../src/images/actors/actor_03.png", alt="actor").actors__img
                        h3.actors__title James Holloway
                    .actors-item
                        a(href="#").actors__link
                            img(src="../src/images/actors/actor_04.png", alt="actor").actors__img
                        h3.actors__title Joshua Walton
                    .actors-item
                        a(href="#").actors__link
                            img(src="../src/images/actors/actor_05.png", alt="actor").actors__img
                        h3.actors__title Patrick Elliott
                    .actors-item
                        a(href="#").actors__link
                            img(src="../src/images/actors/actor_06.png", alt="actor").actors__img
                        h3.actors__title Morgan O'Neill
        section.section
            .container 
                .marketing 
                    .marketing-item
                        a(href="#").marketing__link 
                        img(src="../src/images/marketing_01.png", alt="marketing")
                    .marketing-item
                        a(href="#").marketing__link 
                        img(src="../src/images/marketing_02.png", alt="marketing")
        section.section
            .container 
                .offer 
                    h2.offer__title Are You New Here ? Don’t&nbsp;wait, Register Now. 
                    button.offer__btn Register Now



        include modules/footer
